body {
    background-color: rgb(240, 206, 241);
    margin: auto;
}

header {
    text-align: center;
    font-family: "Playwrite HU", cursive;
    border: dashed 5px rgb(254, 254, 254);
    width: auto ;
    margin: 20px;
    height: 400px ;
    font-size: 150%;
}

header img {
    border-radius: 100px;
}

#question {
    text-align: center;
    font-family: Arial;
    float: left;
    width: 35%;
}

footer {
    text-align: center;
    color: rgb(5, 5, 5);
    font-size: 120%;  
    clear: both;  
}

input[type="button"] {
    padding: 10px;
    background-color: rgb(255, 255, 255);
    width: 70px;
    font-family: "Playwrite HU";
}

#ansyes {
    text-align: center;
    font-family: Arial;
    font-size: 140%;
    visibility: hidden;
    float: left;
    width: 65%;
}

#ansyes input[type="button"] {
    padding: 10px;
    width: 100px;
}